@import url("/static/css/normalize.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

.base
{
	background-color:#1e1e1e;
}

.datetime
{
	font-family: 'Open Sans', sans-serif; font-weight: 600;
	font-size: 45px;
	color: #f3ca24;
	float: left;
	padding-left:30px;
	
}

.name
{
	font-family: 'Open Sans', sans-serif; font-weight: 600;
	font-size: 45px;
	color: #f3ca24;
	float:right;
	padding-right:30px;
}



.flat-table
{
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid black;
	border-collapse: collapse;
}

td.half-hour
{
	border-bottom-width:1px;
	border-bottom-color:#000000;
	border-bottom-style:dotted;
	height: 39px;
}


th.times
{
	font-family: 'Open Sans', sans-serif;
	font-size: 200px;
	background: #eeebd9;
	font-size: 25px;
	padding: 0px 10px 0px 10px;
	height: 80px;
}

.free
{
	background: #c3ff68;
	padding-right: 100px;
}

.busy
{
	background: #ff7d68;
	font-size: 14px;
}

.times, .free, .busy
{
	color: #000000;
	padding: 0.5em .75em 0.5em .75em;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
	height: 40px;
	padding: 0 0 0 5px;
	border: 1px solid black;
	border-top-style:none;
}


.contact
{
	width:600px;
	background: #444343;
	font-family: 'Open Sans', sans-serif; font-weight: 600;
	font-size: 45px;
	color: #FFFFFF;
	margin-top:2px;
	padding-left:15px;
	padding-bottom:15px;
	border-radius:5px;
}

.current_tasks
{
	width:600px;
	background: #0093d0;
	color: #FFFFFF;
	margin-top:2px;
	padding-left:15px;
	padding-bottom:15px;
	border-radius:5px;
}

.current_tasks_header
{
	font-family: 'Open Sans', sans-serif; font-weight: 600;
	font-size: 45px;
}

.current_tasks_items
{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}