<!DOCTYPE html>


{% load chunks %}
<html>
<head>
<title>Derek Status</title>

<script src="static/jquery-1.10.0.min.js"></script>
<link href="static/css/styles.css" rel="stylesheet">


<script>
	var lastHour = 0
	function startTime()
	{
		var today = new Date();
		var hour = today.getHours();
		var minute = today.getMinutes();
		var month = today.getMonth();
		var day = today.getDate();
		var ampm = "AM"; 

		if(hour < lastHour)
		{
			alert("reload!");
			location.reload(true); //refresh page to load new day's calendar
		}
		lastHour = hour;
		
	    // add a zero in front of numbers<10
		minute = prependZero(minute);
		if( hour == 0 )
		{
			hour == 12;
			ampm = "PM"
		}
	    if( hour >= 13)
	 	{
	    	hour = hour - 12;
	    	ampm = "PM";
		}
	    
		var monthNames = [ "January", "February", "March", "April", "May", "June",
		                   "July", "August", "September", "October", "November", "December" ];
		
		$('#datetime').text(monthNames[month] + " " + day + ", " + hour + ":" + minute + " " + ampm);
		
		t = setTimeout(function() {
			startTime()
		}, 10000);
	}

	function prependZero(i)
	{
		if (i < 10)
		{
			i = "0" + i;
		}
		return i;
	}
	
	
	function calendarPoll()
	{
		ajax_poll_for_changes()
		
		t = setTimeout(function() {
			calendarPoll()
		}, 100000);
	}
	
	
	Object.size = function(obj) {
	    var size = 0, key;
	    for (key in obj) {
	        if (obj.hasOwnProperty(key)) size++;
	    }
	    return size;
	};

	var ajax_poll_returned = function(res, status)
	{
	    if (status != "success")
	    {
	    	return;
	    }
	    
	    if("calendar_table" in res.responseJSON)
	    {
		    $('#calendar').html(res.responseJSON["calendar_table"]);
	    }
	    
	    if("current_tasks" in res.responseJSON)
	    {
		    $('#current_tasks').html(res.responseJSON["current_tasks"]);
	    }
	}
	
	function ajax_poll_for_changes()
	{
		var size = $('#sizedropdown').val()
		var data = { csrfmiddlewaretoken: '{{ csrf_token }}'};
			
		var args = { type:"POST", url:"/ajax_poll", data:data, complete:ajax_poll_returned };
        $.ajax(args);
    
	    return false;
	}
	
	function getCookie(name)
	{
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}
	
	var csrftoken = getCookie('csrftoken');
	
	function csrfSafeMethod(method)
	{
	    // these HTTP methods do not require CSRF protection
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	
	$.ajaxSetup({
	    crossDomain: false, // obviates need for sameOrigin test
	    beforeSend: function(xhr, settings) {
	        if (!csrfSafeMethod(settings.type)) {
	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        }
	    }
	});
	
	
	
</script>

</head>

<body class="base" onload="startTime(); calendarPoll();">

	<div style="width: 100%;">
		<div id="datetime" class="datetime">May 22 9:47AM</div>
		<div style="float:right;">
			<div class="name" style="float:right;">Derek Nelson</div>
			<div style="width: 600px; padding-right: 40px;">
				<div class="contact">
					Firmware Engineer<br>derek.nelson@hp.com<br>Work:
					208-396-5556<br>Cell: 360-280-3985
				</div>
				<div class="current_tasks" style="margin-top: 20px;">
					<div class="current_tasks_header">Current Tasks:</div>
					<div class="current_tasks_items">
						<ul id="current_tasks" style="margin-top: 10px; margin-bottom: 5px;">
							{% chunk "current_tasks" %}
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div style="clear: left; padding-top: 30px;">

		<div style="overflow: hidden; margin-left: 30px;">
			<table id='calendar' class="flat-table">
				<colgroup>
					<col>
					<col style="width: 525px;">
				</colgroup>
				{% for entry in schedule %}
						<tr>
							<th class="times" rowspan="2">{{entry.time}}</th>
							<td class="half-hour {{entry.first_half_hour}}">
								{% if entry.first_half_hour_description%}{{entry.first_half_hour_description}}{% endif %}
							</td>
						</tr>
						<tr>
							<td class="{{entry.second_half_hour}}">
								{% if entry.second_half_hour_description%}{{entry.second_half_hour_description}}{% endif %}
							</td>
						</tr>
					{% endfor %}
			</table>
			
			
		</div>

	</div>

</body>
</html>
