<!DOCTYPE html>
<html>
<head>
<title>Derek Status</title>

<script src="static/jquery-1.10.0.min.js"></script>
<link href="static/css/styles.css" rel="stylesheet">


<script>
	function startTime()
	{
		var today = new Date();
		var hour = today.getHours()+1;
		var minute = today.getMinutes();
		var month = today.getMonth();
		var day = today.getDate();
		var ampm = "AM"; 
		
	    // add a zero in front of numbers<10
		minute = prependZero(minute);

	    if( hour >= 13)
	 	{
	    	hour = hour - 12;
	    	ampm = "PM";
		}
	    
		var monthNames = [ "January", "February", "March", "April", "May", "June",
		                   "July", "August", "September", "October", "November", "December" ];
	
		$('#datetime').text(monthNames[month] + " " + day + ", " + hour + ":" + minute + " " + ampm);
		
		t = setTimeout(function() {
			startTime()
		}, 10000);
	}

	function prependZero(i)
	{
		if (i < 10)
		{
			i = "0" + i;
		}
		return i;
	}
	
	
</script>

</head>

<body class="base" onload="startTime()">

	<div style="width: 100%;">
		<div id="datetime" class="datetime">May 22 9:47AM</div>
		<div class="name">Derek Nelson</div>
	</div>

	<div style="clear: left; padding-top: 30px;">
		<div style="float: right; width: 600px; padding-right: 50px;">
			<div class="contact">
				Firmware Engineer<br>derek.nelson@hp.com<br>Work:
				208-396-5556<br>Cell: 360-280-3985
			</div>
			<div class="current_tasks" style="margin-top: 20px;">
				<div class="current_tasks_header">Current Tasks:</div>
				<div class="current_tasks_items">
					<ul style="margin-top: 10px; margin-bottom: 5px;">
						<li>Fix duration issue</li>
						<li>CR 50543</li>
					</ul>
				</div>
			</div>
		</div>
		<div style="overflow: hidden; margin-left: 30px;">
			<table class="flat-table">
				<colgroup>
					<col>
					<col style="width: 525px;">
				</colgroup>
				{% for entry in schedule %}
						<tr>
							<th class="times" rowspan="2">{{entry.time}}</th>
							<td class="half-hour {{entry.first_half_hour}}">
								{% if entry.first_half_hour_description%}{{entry.first_half_hour_description}}{% endif %}
							</td>
						</tr>
						<tr>
							<td class="{{entry.second_half_hour}}">
								{% if entry.second_half_hour_description%}{{entry.second_half_hour_description}}{% endif %}
							</td>
						</tr>
					{% endfor %}
			</table>
			
			
		</div>

	</div>

</body>
</html>
